/* shared styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&family=Work+Sans:wght@400;500;600;700;800&display=swap');


* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    padding: 0px;
    margin: 0px;
}

.primary-btn{
    font-size: 18px;
    font-weight: 600;
    background-color: #FF42A5;
    padding: 10px 20px;
    color: white;
    border: 0;
    border-radius: 30px;
}
.second-btn{
    color: white;
    background-color: #4EC5F7;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 0;
    margin-top: 10px;
}

.pink-color {
    color: #FF42A5;
    font-weight: 700;
}
.paragraph-description{
    color: #534c64;
    font-size: 14px;
    font-weight: 400;
}

/* header section styles */

.header-section {
    display: flex;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 20px 100px;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

h2 {
    font-size: 40px;
}

.nav-container ul li a {
    text-decoration: none;
    color: #3C354F;

}

.nav-container ul {
    display: flex;
    list-style: none;
    gap: 15px;
    margin-top: 10px;

}

.nav-style {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px;

}

/* banner section style  */
.banner-area {
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-top: 5px;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
}

h4 {
    color: #0B0223;
    text-align: center;
    font-size: 40px;
}
h1{
    text-align: center;
    font-size: 50px;
    color: #F948B2;
}
.banner-container{
    margin-right: 200px;
    margin-left: 100px;
}
.banner-area img{
    width: 100%;
}
.btn-banner{
    margin: 10px 10px;
}

/* online game section style  */
h3{
    font-size: 35px;
    font-weight: 700;
    color: #0B0223;
}
.game-collection-content{
    text-align: center;
}
.game-collection-images{
    display: grid;
    grid-template-columns: repeat(4,4fr);
    gap: 15px;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}
.game-collection-images img{
    width: 95%;
}









/* responsive area */

/* responsive for mobile device */
@media screen and (max-width:576px) {

    .header-section ,
    .nav-container ul ,
    .banner-area
   {
    flex-direction: column;
   }
    .nav-container{
        margin: 0 auto;
    }
    .banner-container{
        text-align: center;
    }
    .game-collection-images{
        grid-template-columns: repeat(1,1fr);
        
    }
}

/* responsive for tablet or medium device */
@media screen and (min-width:576px) and (max-width:960px) {
    
    .nav-container ul ,
    .header-section
    {
        flex-direction: column;
    }
  

    .game-collection-images{
        grid-template-columns: repeat(2,1fr);
        
    }
}